<%# Takes listing -%>
<% stub = false if local_assigns[:stub].nil? %>
<div class="listing urn-<%= stub ? '_URN_' : listing.urn %>">
  <%= render :partial => 'listing_link', :locals => { :listing => listing }%>
</div>